@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    /* --main-color:#e02f6b; */
    --main-color: rgba(8, 110, 76, 0.898);
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #589f8d;
    --cyan-light: #c1c8e4;
    --white: #ffffff;
    --white-alpha-40: rgba(76, 170, 170, 0.4);
    --white-alpha-25: #f0f0f0;
    --backdrop-filter-blur: blur(3px);
    --card: #ffffff2b;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-attachment: fixed;
    font-size: 16px;
    --background-color-day: #f0f0f0;
    --text-color-day: #333;
    --background-color-night: #111;
    --text-color-night: #fff;
    background-color: var(--background-color-day);
    color: var(--text-color-day);
    transition: background-color 0.5s, color 0.5s;
    line-height: 1.5;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    overflow-x: hidden;
    padding: 35px 15px;
}


body.hide-scrolling {
    overflow-y: hidden;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

section {
    /* background-color: var(--white-alpha-25); */
    background-color: none;
    min-height: calc(100vh - 70px);
    backdrop-filter: var(--backdrop-filter-blur);

}


section.active {
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

section.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.main {
    max-width: 1200px;
    margin: auto;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.main.fade-out {
    opacity: 0;
}

.container {
    padding: 0 40px;
    width: 100%;
}

.align-items-center {
    align-items: center;
}

.hidden {
    display: none !important;
}

.sec-padding {
    padding: 80px 0;
}

.flex-end {
    justify-content: flex-end;
}

/* ------Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    color: var(--pink-light);
    font-size: 24px;
    font-weight: bold;

}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: var(--pink-light);
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--pink-light);
}

/* // day Night */




.mode-switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 21.5px;
    background-color: #0a0a0a;
    border-radius: 40px;
    border: 1px solid #fff;
    margin-left: 5vmin;
}

.mode-switch input {
    display: none;
}

.mode-switch label {
    background: #fff;
    border: 2px solid #333;
    border-radius: 20px;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: transform 0.5s;
}

.mode-switch input:checked+label {
    transform: translateX(20px);
}

/* section tittle */

.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 3vmin;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

button {
    font-family: inherit;
    user-select: none;
}

.btn {
    line-height: 1.5;
    background-color: var(--main-color);
    box-shadow: 3px 4px 8px var(--main-color);
    border: 2px solid var(--white);
    color: var(--white);
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 2vmin;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;

}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover {

    transition: box-shadow 0.3s ease;
}

.row {
    display: flex;
}




/* header */
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}

.header.active {
    position: fixed;
    top: 35px;
    padding: 20px 15px;
}

.header.active .container {
    max-width: 1200px;
    margin: auto;
}

.header .nav-toggler {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.header .nav-toggler.hide {
    opacity: 0;
    transition: none;
}

.header .nav-toggler span {
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header.active .nav-toggler span {
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3s ease;
}

.header .nav-toggler span::before {
    left: 0;
    transform: translateY(-8px);
}

.header.active .nav-toggler span::before {
    transform: rotate(45deg);
}

.header .nav-toggler span::after {
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after {
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
    width: 50%;
}

.header .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
}

.header.active .nav {
    visibility: visible;
}

.header .nav-inner {
    min-height: calc(100vh - 70px);
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    max-width: 1200px;
    margin: auto;
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.header.active .nav-inner {
    opacity: 1;
}

.header .nav-inner ul li {
    text-align: center;

}

.header .nav-inner ul li a {
    font-size: 40px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    position: relative;
}

.header .nav-inner ul li a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 90%;
    border-radius: 20px;
    background-color: var(--white-alpha-25);
    z-index: -1;
    transition: width 0.5s ease;
}

.header .nav-inner ul li a:hover::before {
    width: 100%;
}

.header .nav-inner ul li a:hover {
    color: var(--main-color);
}

/* home section */

.home-section {
    padding: 120px 0;
    width: 90%;
    margin: auto;
}

.home-section {
    display: flex;
}

.home-text,
.home-img {
    width: 50%;
    padding: 15px;
}

.home-text p {
    font-size: 23px;
    font-weight: 400;
}

.home-text h1 {
    font-size: 50px;
    text-transform: uppercase;
    color: rgba(8, 110, 76, 0.726);
}

.home-text h2 {
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 30px;
}

.home-text h4 {
    padding-bottom: 30px;
    text-transform: capitalize;
}

.home-text .btn {
    margin: 0 15px 15px 0;
}

.home-img .img-box {
    background-color: var(--white-alpha-25);
    max-width: 360px;
    margin: auto;
    border-radius: 30px;
    border: 8px solid var(--pink-light);
}

.home-img .img-box img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--white);

    /* About    */


}

.about-text {
    width: 90%;
    padding: 0 15px;
    margin: auto;
}

/* .about-img .img-box {
    background-color: var(--white-alpha-25);
    max-width: 380px;
    border: 2px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
} */

/* .about-img .img-box img {
    width: 100%;
} */

.about-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
    color: var(--pink-light);

}

.about-text .skill-item {
    background-color: var(--card);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-tabs {
    margin-top: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
    color: #707070;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active::before {
    width: 100%;
}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}

.about-text .timeline {
    position: relative;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    top: 16px;
    left: 0;
    background-color: var(--main-color);
    border-radius: 50%;
}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
    font-weight: 450;
}

.about-text .btn {
    margin: 0 15px 15px 0;
    padding: 8px 15px 8px 15px;
}



/* portfolio section */
.portfolio-section {
    padding-bottom: 50px;
}

.portfolio-section .row {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: calc((100% / 3) - 90px);
    margin: 0 40px 80px;
    text-align: center;
    display: block;
    justify-content: center;
    background-color: var(--card);
    backdrop-filter: blur(10px);
    padding: 2vmin 2vmin 3vmin 2vmin;
    border-radius: 10px;
    border: 1px solid var(--pink-light);
}

.portfolio-item-thumbnail:hover img {
    transform: scale(1.08);
    transition: 0.5s all;
}

.portfolio-item-thumbnail {
    padding: 14px;
    background-color: var(--white-alpha-25);
    background-color: #589f8d;
    border-radius: 10px;
}

.portfolio-item-thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 4px solid #fff;
}

.portfolio-item h3 {
    font-size: 2vmin;
    text-transform: capitalize;
    margin: 20px 0;
}

.portfolio-item .view-project-btn {
    padding: 8px 12px;
}

.portfolio-item-details {
    display: none;
}


/* portfolio popup */
.portfolio-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    visibility: hidden;
}

.portfolio-popup.open {
    visibility: visible;
    overflow-y: auto;
}

.pp-inner {
    min-height: 150vh;
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pp-content {
    background-color: var(--card);
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    border: 1px solid var(--white-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    opacity: 0;
    transform: scale(0.9);
}

.portfolio-popup.open .pp-content {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s ease;
}

.pp-header {
    position: relative;
}

.pp-header .btn {
    height: 5vmin;
    width: 9vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2vmin;
    bottom: -0%;
    color: var(--white);
    background-color: #589f8dd1;
}

.pp-thumbnail img {
    border-radius: 10px;
}

.pp-header h3 {
    font-size: 25px;
    text-transform: capitalize;
    margin: 20px 0 15px;
}

.pp-body .description {
    margin-bottom: 20px;
}

.pp-body .general-info li {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

.pp-body .general-info li span {
    font-weight: 400;
}

.pp-body .general-info li a {
    text-transform: lowercase;
    color: var(--main-color);
}

/* contact section */
.contact-form .row {
    display: flex;
    flex-direction: column;
}

.contact-form,
.contact-info {
    width: 50%;
    padding: 0 15px;
}

.contact-form .input-group {
    width: 100%;
    margin-bottom: 30px;
}

.contact-form .input-control::placeholder {
    /* color: var(--blue-dark); */
    opacity: 1;
    font-weight: 400;
}

.contact-form .input-control {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    background-color: var(--card);
    padding: 0 20px;
    border: 1px solid var(--pink-light);
    transition: border-color 0.3s ease;
}

.contact-form .input-control:focus {
    border-color: var(--white-alpha-40);
}

.contact-form textarea.input-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
}

.contact-info-item {
    margin: 0 0 30px;
    padding: 0 0 0 20px;
}

.contact-info-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.contact-info-item .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--card);
    color: var(--main-color);
    border-radius: 50%;
    border: 1px solid var(--white-alpha-40);
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

.contact-info-item .social-links a:hover {
    color: var(--white);
    background-color: var(--main-color);
}


/* Responsive */
@media(max-width:991px) {
    .container {
        padding: 0;
    }

    .home-section .container .row {
        flex-direction: column;
    }

    .home-text,
    .home-img {
        width: 90%;
    }

    .home-text {
        text-align: center;
        width: 80%;
    }

    .home-img {
        order: -1;
    }

    .about-text {
        width: 80%;
    }

    .about-section .row {
        display: flex;
        flex-direction: row;
    }

    .portfolio-section .row {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .portfolio-item {
        width: calc((100% / 2) - 17vmin);
        height: 80%;
    }

    .contact-section .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }


}


@media(max-width:650px) {
    .about-section .row {
        display: block;
    }

    .about-img,
    .about-text {
        width: 100%;
    }

    .about-text {
        margin-top: 30px;
        width: 75%;
    }

    .portfolio-item {
        width: calc((100% / 1) - 37vmin);

    }

    .pp-inner {
        padding: 20px 10px;
    }

    .portfolio-item h3 {
        font-size: 4vmin;
    }

    .contact-section .container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
    }

    .contact-section .container .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vmin;
    }

    .contact-info-item {
        width: 600px;
    }
}